body {
	min-height: 100vh;
	position: relative;
	background-color: #f7f7f7;
	color: var(--color-default);
	font-family: var(--font-primary);
	font-size: var(--font-size);
	line-height: var(--font-line-height);
}